# Python virtual environment
venv/
backend/venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
    

# Django media (optional)
backend/media/

# Node
node_modules/

# Django Migrations
**/migrations/*.py
!**/migrations/__init__.py
