# Python virtual environment
venv/
backend/venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
backend/logs/

# Django media (optional)
backend/media/

# Node
node_modules/

# Django Migrations
**/migrations/*.py
!**/migrations/__init__.py
inital.__pycache__

# Environment
.env
.env.local
.env.development
.env.production